.documentation {
    display: flex;

    &-menu {
        ol {
            list-style: none;
            counter-reset: item;
            padding-inline-start: 1rem;

            li {
                padding-top: 0.5rem;
                counter-increment: item;

                &:before {
                    margin-right: 0.75rem;
                    content: counters(item, '.') ' ';
                    display: inline-block;
                }
            }
        }

        & > ol {
            overflow: auto;
        }

        & > ol > li:not(:first-of-type) {
            padding-top: 1rem;
        }

        a {
            color: black;
            text-decoration: none;
            transition: color 0.15s ease-in-out;

            &:hover {
                color: #319795;
            }

            &.active {
                color: #319795;
            }
        }

        &__scroll-top {
            position: sticky;
            padding-left: 1rem;
            cursor: pointer;
            top: calc(100vh - 2rem);
        }
    }

    &-container {
        max-width: 1140px;
        padding: 2rem 4rem;
        line-height: 1.5rem;

        .w-80 {
            max-width: 80%;
            height: auto;
            object-fit: scale-down;
        }

        pre {
            max-width: 100%;
            display: block;
            padding: 9.5px;
            margin: 0 0 10px;
            font-size: 13px;
            line-height: 1.42857143;
            color: #333;
            word-break: break-all;
            word-wrap: break-word;
            background-color: #f5f5f5;
            border: 1px solid #ccc;
            border-radius: 4px;

            &.literal-block {
                margin: 0 2rem;
                margin-bottom: 2rem;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            padding-top: 2rem;
        }

        a {
            color: black;
        }

        .admonition {
            &.warning {
                padding: 1rem;
                background-color: lighten(black, 90%);
                border-left: 3px solid lighten(red, 20%);
            }

            &-title {
                font-weight: bold;
                font-size: 1.2rem;
                letter-spacing: 0.1rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .documentation {
        flex-direction: column;

        &-menu {
            ol {
                padding-inline-start: 0.5rem;
                li {
                    &:before {
                        margin-right: 0.5rem;
                    }
                }
            }

            &__scroll-top {
                display: none;
            }
        }

        &-container {
            padding: 2rem 1rem;
        }
    }
}
