.login {
    text-align: center;
    padding-top: 6rem;

    h1 {
        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        font-size: 6rem;
    }
}
