:root {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
	background-color: $backgroundColor;
	color: $fontColor;
}

h2 {
	font-family: 'BigNoodleTitling';
	letter-spacing: 2px;
	font-size: 1.85rem;
	color: #FFF;
	margin: 0;
}

hr {
	border-color: $ascentColor;
}

strong {
	color: lighten($primaryColor, 10);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;

    header {
		padding-left: 30px;
		padding-right: 30px;
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        background-color: $ascentColor;
        color: white;
        flex-grow: 0;

        a {
            text-decoration: none;
            color: white;
            transition: color 0.15s ease-in-out;
			color: rgba(#FFF, .7);

            &:hover {
                color: #FFF;
				background: darken($ascentColor, 8);
            }

            &.active {
				background: darken($ascentColor, 7);
                color: #FFF;
            }
        }

        .nav-left {
            display: flex;
			align-items: center;
			font-size: 1rem;
			text-transform: uppercase;

            & > * {
				padding-top: 15px;
				padding-bottom: 15px;
				
                padding-left: 1rem;
				padding-right: 1rem;
            }
        }

        .nav-right {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
			text-transform: uppercase;
			font-size: 1rem;
			
			a {
				padding: 15px 1rem;
			}
			
			span {
				padding: 15px 1rem;
				&:hover {
					background: darken($ascentColor, 8);
				}
			}
        }
    }

    main {
        flex-grow: 1;
    }

    footer {
        flex-grow: 0;
        justify-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $headerColor;
        color: rgba(#FFF, .2);
        padding: 1rem;
        text-transform: uppercase;

        & > * {
            &:not(:first-child) {
                padding-left: 1rem;
            }

            &:not(:last-child) {
                padding-right: 1rem;
                border-right: 1px solid darken(#FFF, 50);
            }
        }

        a {
            text-decoration: none;
            padding: 0.5rem 0.5rem;
            transition: color 0.25s ease-in-out;
            color: rgba(#FFF, .7);

            &:hover {
                color: $ascentColor;
            }
        }
    }
}

@media (max-width: 768px) {
    #root {
        header {
            flex-direction: column;
            align-items: unset;
            & > * {
                flex-direction: column;
            }

            .nav-right,
            .nav-left {
                & > * {
                    padding-left: 0 !important;
                    border: none !important;
                }
            }
        }

        footer {
            flex-direction: column;

            & > * {
                padding-left: 0 !important;
                border-right: none !important;
            }
        }
    }
}
