.react-select-container {
	.react-select__option {
		&--is-focused {
			background-color: $ascentColor;
		}
		&--is-selected {
			background-color: darken($ascentColor, 7);
		}
	}
	.react-select__menu {
		color: $backgroundColor;
	}
}

.Collapsible {
    margin-bottom: 1em;

    &__trigger {
        padding: .5em;
        background-color: grey;
        cursor: pointer;

        &.is-open, &:hover {
            background-color: $primaryColor;
        }
    }
    &__contentInner {
        padding: 1em;
        background-color: $backgroundColor;
    }
}
